<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/roadready"
        android:label="@string/app_name"
        android:roundIcon="@drawable/roadready"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoadReady"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="R.string.maps_api_key" />
        <activity
            android:name=".activity.GoogleMaps_Activity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="road-ready-black.vercel.app"
                    android:scheme="https"
                    android:path="/dashboard"
                    />
            </intent-filter>
        </activity>
    </application>
</manifest>