<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/roadready"
        android:label="@string/app_name"
        android:roundIcon="@drawable/roadready"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoadReady"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="R.string.maps_api_key" />
        <activity
            android:name=".activity.GoogleMaps_Activity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.buyer.RenewalRegistration_Activity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.buyer.MyVehicle_Activity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.buyer.VehicleApplicationProgress_Activity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.buyer.VehicleRegistrationProgress_Activity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.buyer.ApplicationProgress_Activity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.buyer.SearchDealership_Activity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.dealership.Dealership_Activity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.dealership.Applicants_Fragment"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.dealership.Approved_Fragment"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.dealership.Bank_Activity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.dealership.Banklist_Fragment"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.dealership.ForApproval_Fragment"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.dealership.MyVehicles_Fragment"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.dealership.Notifications_Fragment"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.dealership.RegistrationDocs_Fragment"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.dealership.VehicleAdd_Activity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.MainActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>